body {
    font-family: Arial, sans-serif;
    background-color: #8f8787;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2rem;
    background-color: aquamarines;
    
}.contactus{
    min-height: 100vh;
    background: #ccc;
    padding: 50px;
    text-align: center;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}
.container h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: #030303;

}

.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.contact-form{
    text-align: left;
}
.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #030303;
}
.form-group{
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f8f9fa;
    color: #333;

}

input:focus,
textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #bbb;
}

button{
    display: inline-block;
    padding: 12px 24px;
    background-color: #4acf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #45a049;

}

.contact-info{
    text-align: left;
}

.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #030303;
}

.contact-info p{
    margin-bottom: 10px;
    color: #030303;

}

.contact-info i{
    color: #4caf50;
    margin-right: 10px;
}

@media screen and (max-width:768px){
    .container{
        padding: 20px;
    }
    .contact-wrapper{
    
        grid-template-columns: 1fr;
    }
}

.content-section {
    margin-bottom: 2rem;
    text-align: center;
}
.search {
    margin-bottom: 2rem;
    text-align: left;
}

.search input {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 20%;
    margin-right: 0.1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.search button:hover {
    background-color: #555;
}

.results {
    margin-top: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}



.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color:black;
    position: relative;
}
.content .par{
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: Arial;
    letter-spacing: 1.3px;
    font-size: 15px;
    
}

.content h1{
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding-left: 10px;
    margin-top: 2%;
    letter-spacing: 1.2px;
    text-align: center;

}
